#cart-add {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 28px 40px;
}

#cart-add #coupon {
    width: 50%;
    margin-bottom: 30px;
}

#cart-add #coupon h3,
#subtotal h3 {
    padding-bottom: 15;
}

#coupon input {
    padding: 10px 20px;
    outline: none;
    width: 60%;
    margin-right: 10px;
    border: 1px solid #e2e9e1;
}


#coupon button {
    background-color: #088178;
    color: #fff;
    padding: 12px 20px;
}

#subtotal {
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid #e2e9e1;
    padding: 30px;
}

#subtotal table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #e2e9e1;

}

#subtotal table td {
    width: 50%;
    border: 1px solid #e2e9e1;
    padding: 10px;
    font-size: 13px;
}


#subtotal button {
    background-color: #088178;
    color: #fff;
    padding: 12px 20px;
    margin-left: 10px;
}